<div class="{{inputWrapperClass}}">
  <div class="label-wrapper">
    <label for="input" class="label {{labelClass}}">{{labelText}}</label>
    <div class="label-wrapper__error-info">
      ошибка
      <div class="label-wrapper__error-info-text"></div>
    </div>
  </div>
  <input
    type="{{inputType}}"
    value="{{inputValue}}"
    id="{{inputName}}"
    class="{{inputClass}}"
    name="{{inputName}}"
    placeholder="{{inputPlaceholder}}"
  />
</div>
