<main class="page">
  <article class="chats">
    {{{profileLink}}}
    {{{searchInput}}}
    <div class="chats-list">
      {{{messagePreviews}}}
    </div>
  </article>

  <article class="chat">
    <div class="chat__current-title">Ivan</div>
    <article class="chat__messages">
      <div class="chat__date">19 ноября</div>
      <div class="chat__message chat__received">Привет</div>
      <div class="chat__message chat__sent">Круто!</div>
      <div class="chat__message chat__sent">Мы знакомы?</div>
      <div class="chat__message chat__received">Нет!</div>
      <div class="chat__date">31 декабря</div>
      <div class="chat__message chat__received">Ой, да!</div>
      <div class="chat__message chat__received">...</div>
    </article>

    <div class="chat__footer">
      <form class="form">
        {{{inputMessage}}}
        <div class="chat__footer-buttons">
          {{{buttons}}}
        </div>
      </form>
    </div>
  </article>
</main>
