<label for="input" class="label {{inputLabelClass}}">{{inputLabel}}</label>
<input type="{{inputType}}" value="{{inputValue}}" id="input" class="{{inputClass}}" name="{{inputName}}" placeholder="{{inputPlaceholder}}">

