<section class="{{previewClass}}">
    <div class="{{previewClass}}__avatar"></div>
    <div class="{{previewClass}}__info">
        <div class="{{previewClass}}__meta">
            <p class="{{previewClass}}__title">{{previewTitle}}</p>
            <span class="{{previewClass}}__date">{{previewDate}}</span>
        </div>
        <div class="{{previewClass}}__data">
            <span class="{{previewClass}}__message">{{previewMessage}}</span>
            {{#if previewCount}}
                <div class="{{previewClass}}__count">{{previewCount}}</div>
            {{/if}}
        </div>
    </div>

</section>